.about {
  text-align: center;
  margin: 70px 0;
}
.about__lead {
  font-family: $V_FONT-FAMILY_MAIN;
  font-size: $V_FONT_SIZE_NORMAL;
  line-height: 1.8;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: $V_FONT_WEIGHT_LIGHT;
}
.about__frame {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  margin-top: 10px;
}
.about__frame-deco {
  position: absolute;
  width: 40px;
  height: 40px;
}
.about__frame-deco:nth-of-type(1) {
  top: 0;
  left: 0;
  border-top: 1px solid;
  border-left: 1px solid;
}
.about__frame-deco:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
