.apartment {
  padding: 70px 0;
}
.apartment__lead {
  text-align: center;
  margin: 50px 0;
  letter-spacing: 2px;
}
.apartment__card {
  width: 400px;
  background: $V_COLOR_PINK_MAIN;
  padding: 30px;
  box-shadow: 0 5px 20px 0 $V_COLOR_GRAY1;
}
.apartment__title {
  font-family: $V_FONT-FAMILY_SERIF0;
  font-size: $V_FONT_SIZE_2XL;
  letter-spacing: 3px;
}
.apartment__text {
  padding: 20px 0;
  line-height: 1.6;
  letter-spacing: 1px;
}
.apartment__catchphrase {
  font-size: $V_FONT_SIZE_LG;
  margin-top: 10px;
  border-bottom: 2px solid;
  line-height: 2rem;
}
