.apartment__lead {
  text-align: center;
  margin: 50px 0;
  letter-spacing: 2px;
}
.apartment__card {
  width: 470px;
  background: $V_COLOR_PINK_MAIN;
  padding: 25px;
}
.apartment__title {
  font-family: $V_FONT-FAMILY_SERIF0;
  font-size: $V_FONT_SIZE_2XL;
  letter-spacing: 3px;
}
