.contact {
  background-image: url(../../src/img/Florence_contact.jpg);
  background-size: cover;
  background-position: center;
  padding: 85px 0;
  box-sizing: border-box;
}
.contact__wrap {
  width: 100%;
  background: rgb($V_COLOR_WHITE0, 0.9);
  height: 480px;
  padding: 55px;
  box-sizing: border-box;
}
.contact__lead {
  width: 580px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1.6;
}
.contact__lead p:nth-of-type(3) {
  margin-top: 10px;
}
//mobile
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .contact__lead {
    width: 100%;
    margin-top: 30px;
    font-size: $V_FONT_SIZE_SM;
  }
  .contact__wrap {
    padding: 40px;
    height: unset;
  }
}
