// FlorenceA //
.feature__image {
  background-image: url(../img/FlorenceA_Faeture_Exterior.jpg);
  background-size: cover;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  border: 1px solid;
  margin-top: -80px;
}
.feature__title {
  font-size: $V_FONT_SIZE_LG;
  font-weight: $V_FONT_WEIGHT_BOLD;
  margin-top: 30px;
}
