// FlorenceA //
.feature {
  padding: 50px 0 70px;
}
.feature__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.feature__card {
  width: 280px;
  padding-top: 70px;
  margin: 0 25px;
}
.feature__image {
  background-size: cover;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  border: 1px solid;
  margin-top: -80px;
}
.feature__image.exterior {
  background-image: url(../img/FlorenceA_Faeture_Exterior.jpg);
}
.feature__image.security {
  background-image: url(../img/FlorenceA_Faeture_Security.jpg);
}
.feature__image.kitcken {
  background-image: url(../img/FlorenceA_Faeture_Kitcken.jpg);
}
.feature__image.wash {
  background-image: url(../img/FlorenceA_Faeture_Wash.jpg);
}
.feature__image.storage {
  background-image: url(../img/FlorenceA_Faeture_Storage.jpg);
}
.feature__title {
  font-size: $V_FONT_SIZE_LG;
  font-weight: $V_FONT_WEIGHT_BOLD;
  margin-top: 30px;
  text-align: center;
}
.feature__text {
  margin-top: 20px;
  line-height: 1.4;
}
