// FlorenceA //
.feature__image {
  background-image: url(../img/FlorenceA_Faeture_Exterior.jpg);
  background-size: cover;
  width: 290px;
  height: 290px;
  border-radius: 100%;
  border: 1px solid;
  margin-top: -80px;
}
