.floor-plan {
  display: flex;
  margin-top: 40px;
}
.floor-plan__card {
  margin: 20px 60px 0 0;
}
.floor-plan__image {
  margin-right: 50px;
}
.floor-plan__image img {
  width: 300px;
}
.floor-plan__title {
  margin: 0 10px 10px;
  font-size: $V_FONT_SIZE_XL;
  color: $V_COLOR_BLACK;
}
