.footer {
  font-family: "Roboto", sans-serif;
  @include center;
  height: 60px;
  font-size: $footer_font;
  box-shadow: -2px -7px 20px -5px rgba($shadow 0.2);
}
.footer__copyright {
  background: $footer_color;
}
.footer__icon {
  margin-right: 2px;
}
