.gallery-image {
  width: 100%;
}
.gallery-image__box--upper {
  display: flex;
  justify-content: flex-start;
}
.gallery-image__box--below {
  display: flex;
  justify-content: flex-end;
}
.gallery-image__interior {
  margin: 0 0 20px 25px;
}
