//header
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  width: 100%;
  box-shadow: 0 5px 20px 0 $V_COLOR_GRAY1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 20px;
  cursor: pointer;
}
.header__logo img {
  width: 280px;
}
.header__nav {
  height: 100%;
}
.header__card {
  height: 100%;
  display: flex;
}
.header__item:last-of-type {
  background: $V_COLOR_GREEN_MAIN;
  transition: $V_TRANSITION_300MS;
}
.header__item:last-of-type:hover {
  background: darken($V_COLOR_GREEN_MAIN, 15%);
  transition: $V_TRANSITION_300MS;
}
.header__link {
  position: relative;
  color: $V_COLOR_BLACK;
  font-family: $V_FONT-FAMILY_MENU;
  font-size: $V_FONT_SIZE_LG;
  height: 100%;
  padding: 0 25px;
  @include center;
}
.header__link:last-of-type {
  transition: $V_TRANSITION_300MS;
}
.header__link:last-of-type::after {
  border-bottom: 1px solid $V_COLOR_BLACK;
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: $V_TRANSITION_300MS;
  width: 0px;
}
.header__link:hover::after {
  width: 40px;
}

// mobile //

@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .header__pc-logo {
    display: none;
  }
  .header__mobile-logo {
    display: block;
  }
  .header__logo {
    margin: 0 15px;
  }
  .header__logo a {
    width: unset;
  }
  .header__logo .header__mobile-logo {
    width: 45px;
  }
  .header__nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
  }
  .open .header__nav {
    height: 100%;
    width: 200px;
  }
  .header__nav-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 5;
  }
  .header__nav-button__line {
    background: $V_COLOR_BLACK;
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
  }
  .header__nav-button__line:nth-of-type(1) {
    top: 10px;
    transition: all 0.3s ease;
  }
  .open .header__nav-button__line:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
    transition: all 0.3s ease;
  }
  .header__nav-button__line:nth-of-type(2) {
    top: 20px;
    transition: all 0.3s ease;
  }
  .open .header__nav-button__line:nth-of-type(2) {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .header__nav-button__line:nth-of-type(3) {
    top: 30px;
    transition: all 0.3s ease;
  }
  .open .header__nav-button__line:nth-of-type(3) {
    transform: translateY(-10px) rotate(45deg);
    transition: all 0.3s ease;
  }
  .header__card {
    position: sticky;
    top: 0;
    right: 0;
    background: $V_COLOR_WHITE0;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.3s ease;
    height: 100%;
  }
  .open .header__card {
    transform: translateX(0);
    transition: all 0.3s ease;
  }
  .header__link {
    background: $V_COLOR_WHITE0;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    min-width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 0 40px;
  }
  .header__link:last-of-type::after {
    display: none;
  }
  .header__item:nth-of-type(1) {
    padding-top: 60px;
  }
  .menu__background {
    background: $V_COLOR_GRAY2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .open.menu__background {
    opacity: 1;
  }
}
