.infomation {
  padding: 70px 0;
}
.infomation__map {
  width: 50%;
  height: 300px;
}
.infomation__wrap {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
}
.infomation__table {
  margin-left: 50px;
  line-height: 1.4;
  width: 50%;
}
.infomation__row {
  border-top: 1px solid $V_COLOR_GRAY0;
}
.infomation__row:nth-of-type(3) {
  border-bottom: 1px solid $V_COLOR_GRAY0;
}
.infomation__header {
  width: 60px;
  padding: 20px;
  vertical-align: middle;
  background: rgb($V_COLOR_GRAY0, 30%);
}
.infomation__data {
  padding: 20px;
  vertical-align: middle;
}
.infomation__brank {
  display: none;
}

//mobile
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .infomation__wrap {
    flex-direction: column;
  }
  .infomation__map {
    width: 100%;
    height: 300px;
  }
  .infomation__table {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    font-size: $V_FONT_SIZE_SM;
  }
  .infomation__header {
    padding: 15px;
  }
  .infomation__data {
    padding: 15px;
  }
  .infomation__brank {
    display: block;
  }
}
