.swiper {
  display: flex;
  width: 1000px;
}
.swiper-slide {
  text-align: center;
}
.swiper-wrapper {
  display: flex;
  position: relative;
}
.swiper-pagination {
  position: absolute;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 50px;
  left: 40px;
  width: unset;
}
