.navigation {
  display: none;
}
// mobile //

@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .navigation {
    display: block;
  }
  .navigation__button-line {
    background: $V_COLOR_BLACK;
    display: block;
    height: 2px;
    width: 30px;
  }
  .navigation__button-line:nth-of-type(1) {
    margin-top: 0px;
    transition: $V_TRANSITION_300MS;
  }
  .navigation__button-line:nth-of-type(2) {
    margin-top: 10px;
    transition: $V_TRANSITION_300MS;
  }
  .navigation__button-line:nth-of-type(3) {
    margin-top: 10px;
    transition: $V_TRANSITION_300MS;
  }
  .open .navigation__button-line:nth-of-type(1) {
    transform: translateY(10px) rotate(-45deg);
    transition: $V_TRANSITION_300MS;
  }
  .open .navigation__button-line:nth-of-type(2) {
    opacity: 0;
    transition: $V_TRANSITION_300MS;
  }
  .open .navigation__button-line:nth-of-type(3) {
    transform: translateY(-13px) rotate(45deg);
    transition: $V_TRANSITION_300MS;
  }
}
