.news {
  background: lighten($V_COLOR_GRAY0, 22%);
  margin-top: -51px;
  padding: 60px 0px;
}
.news__title {
  font-family: $V_FONT-FAMILY_MENU;
  font-size: $V_FONT_SIZE_TITLE_LG;
  letter-spacing: 3px;
  margin-left: 20px;
  margin-top: -10px;
}
.news__title--head {
  color: darken($V_COLOR_GREEN_MAIN, 10%);
}
.news__title--small {
  font-family: $V_FONT-FAMILY_CATCHPHRASE;
  font-size: $V_FONT_SIZE_LG;
  margin-top: 10px;
  margin-left: 20px;
}
.news__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.news__text__wrap {
  background: $V_COLOR_WHITE0;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 20px 0 $V_COLOR_GRAY3;
}
.news__text {
  display: flex;
  padding: 20px;
  width: 810px;
  font-size: $V_FONT_SIZE_SM;
}
.news__year {
  font-weight: bold;
}
.news__day {
  font-weight: bold;
}
.news__content {
  margin-left: 10px;
}
