.room {
  display: flex;
  margin: 40px;
}
.room__card {
  margin: 20px 60px 0 0;
}
.room__image {
  margin-right: 50px;
}
.room__image img {
  width: 300px;
}
.room__title {
  margin: 0 10px 10px;
  font-size: $V_FONT_SIZE_XL;
  color: $V_COLOR_BLACK;
}
