.swiper-slide img {
  width: 100%;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-catchphrase {
  position: absolute;
  left: 40px;
  font-family: $V_FONT-FAMILY_CATCHPHRASE;
  font-size: $V_FONT_SIZE_TITLE_NORMAL;
  z-index: 999;
  color: $V_COLOR_WHITE0;
  background: $V_COLOR_BRAUN;
  padding: 10px;
}
.swiper-catchphrase__small {
  font-size: $V_FONT_SIZE_TITLE_SM;
  margin-left: 2px;
}
.swiper-catchphrase:nth-of-type(1) {
  bottom: 250px;
}
.swiper-catchphrase:nth-of-type(2) {
  bottom: 200px;
}
.swiper-catchphrase:nth-of-type(3) {
  bottom: 150px;
}
.swiper-pagination {
  position: absolute;
  bottom: 50px !important;
  left: 40px !important;
  width: unset !important;
}
.swiper-pagination-bullet {
  width: 40px;
  border-radius: 0;
  background: $V_COLOR_WHITE0;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 0;
  background: darken($V_COLOR_GREEN_MAIN, 10%);
  opacity: 1;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 2px;
}
.swiper-vacancy__wrap {
  font-size: $V_FONT_SIZE_TITLE_XS;
  font-weight: $V_FONT_WEIGHT_BOLD;
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 130px;
  height: 130px;
  padding: 30px;
  background: lighten($V_COLOR_GREEN_MAIN, 10%);
  border-radius: 100px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.swiper-vacancy__number {
  font-size: $V_FONT_SIZE_TITLE_LG;
}
.swiper-vacancy__contact {
  font-size: $V_FONT_SIZE_NORMAL;
  text-align: center;
  margin-top: 15px;
  line-height: 1.3;
}
