.tel {
  padding: 50px;
  text-align: center;
}
.tel__title {
  font-size: $V_FONT_SIZE_XL;
}
.tel__manager {
  font-size: $V_FONT_SIZE_LG;
  font-weight: $V_FONT_WEIGHT_BOLD;
}
.tel__number {
  font-size: $V_FONT_SIZE_5XL;
  font-weight: $V_FONT_WEIGHT_BOLD;
}
