.tel {
  padding: 50px;
  text-align: center;
}
.tel__title {
  font-size: $V_FONT_SIZE_XL;
  position: relative;
  margin-bottom: 50px;
}
.tel__title::before,
.tel__title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: black;
}
.tel__title::before {
  left: 230px;
}
.tel__title::after {
  right: 230px;
}
.tel__number {
  font-size: $V_FONT_SIZE_5XL;
  font-weight: $V_FONT_WEIGHT_BOLD;
}
