// FlorenceA //
.gallery {
  background: $V_COLOR_WHITE0;
  padding: 70px 0;
}
.gallery__wrap {
  display: flex;
  padding: 70px 0 40px 0;
}
.gallery__button {
  color: $V_COLOR_BROWN;
  background: $V_COLOR_WHITE0;
  border: 1px solid $V_COLOR_BROWN;
  padding: 20px;
  border-radius: 50px;
  width: 220px;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: $V_TRANSITION_300MS;
}
.gallery__button:hover {
  color: $V_COLOR_WHITE0;
  background: $V_COLOR_BROWN;
  transition: $V_TRANSITION_300MS;
}
.gallery__tab {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.gallery__item {
  font-weight: $V_FONT_WEIGHT_BOLD;
  margin: 0 20px;
  position: relative;
}
.gallery__item a::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid;
  top: 35px;
  left: 50%;
  width: 0px;
  transform: translate(-50%, -50%);
  transition: $V_TRANSITION_300MS;
}
.gallery__item a:hover::after {
  width: 30px;
  transition: $V_TRANSITION_300MS;
}
.gallery__item a {
  color: $V_COLOR_BLACK;
}
// FlorenceA mobile //
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .gallery {
    padding-top: 30px;
  }
  .gallery__wrap {
    flex-direction: column;
    padding: 70px 0 20px 0;
  }
  .gallery img {
    width: 100%;
  }
  .gallery__button {
    font-size: $V_FONT_SIZE_SM;
  }
  .gallery__tab {
    flex-wrap: wrap;
  }
  .gallery__item {
    position: unset;
    font-size: $V_FONT_SIZE_SM;
    margin: 0 12px 10px 0;
    border: 1px solid;
    padding: 8px;
    border-radius: 20px;
  }
  .gallery__item a:hover:after {
    width: 0px;
  }
}
