// Florence //
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  width: 100%;
  box-shadow: 0 5px 20px 0 rgba($V_COLOR_BLACK, 0.1);
  background: $V_COLOR_WHITE0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 20px;
  cursor: pointer;
}
.header__logo img {
  width: 280px;
}
.header__mobile-logo {
  display: none;
}

// Florence mobile //
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .header__pc-logo {
    display: none;
  }
  .header__mobile-logo {
    display: block;
  }
  .header__logo {
    margin-left: 20px;
  }
  .header__logo a {
    width: unset;
  }
  .header__logo .header__mobile-logo {
    width: 45px;
  }
}
