.information {
  padding: 70px 0;
}
.information__map {
  width: 50%;
  height: 300px;
}
.information__wrap {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
}
.information__table {
  margin-left: 50px;
  line-height: 1.4;
  width: 50%;
}
.information__row {
  border-top: 1px solid $V_COLOR_GRAY0;
}
.information__row:last-of-type {
  border-bottom: 1px solid $V_COLOR_GRAY0;
}
.information__header {
  width: 60px;
  padding: 20px;
  vertical-align: middle;
  background: rgb($V_COLOR_GRAY0, 30%);
}
.information__data {
  padding: 20px;
  vertical-align: middle;
}
.information__blank {
  display: none;
}

// Florence mobile //
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .information__wrap {
    flex-direction: column;
  }
  .information__map {
    width: 100%;
    height: 300px;
  }
  .information__table {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    font-size: $V_FONT_SIZE_SM;
  }
  .information__header {
    padding: 15px;
  }
  .information__data {
    padding: 15px;
  }
  .information__blank {
    display: block;
  }
}

// FlorenceA //
.florenceA .information__table {
  width: 100%;
  margin: 50px 0 0 0;
}
.florenceA .information__room-number {
  margin-right: 15px;
  font-weight: $V_FONT-WEIGHT_BOLD;
}
.florenceA .information__room-number:nth-of-type(2) {
  margin-right: 108px;
}
.florenceA .information__annotations {
  border: 1px solid;
  padding: 15px;
  width: 605px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: $V_FONT_SIZE_SM;
}
.florenceA .information__mark {
  margin-right: 3px;
}
.florenceA .information__map {
  width: 100%;
  margin: 70px 0 30px;
}

// FlorenceA mobile //
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .florenceA .information__annotations {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: $V_FONT_SIZE_XS;
  }
}

// FlorenceB //
.florenceB .information__table {
  width: 100%;
  margin: 50px 0 0 0;
}
.florenceB .information__room-number {
  margin-right: 15px;
  font-weight: $V_FONT-WEIGHT_BOLD;
}
.florenceB .information__room-number:nth-of-type(2) {
  margin-right: 108px;
}
.florenceB .information__annotations {
  border: 1px solid;
  padding: 15px;
  width: 605px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: $V_FONT_SIZE_SM;
}
.florenceB .information__mark {
  margin-right: 3px;
}
.florenceB .information__map {
  width: 100%;
  margin: 70px 0 30px;
}

// FlorenceA mobile //
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .florenceB .information__annotations {
    width: 100%;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: $V_FONT_SIZE_XS;
  }
}
