.news {
  background: lighten($V_COLOR_GRAY0, 22%);
  padding: 60px 0px;
}
.news__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__card {
  background: $V_COLOR_WHITE0;
  box-shadow: 0 5px 20px 0 $V_COLOR_GRAY3;
  padding: 10px;
  width: 810px;
  font-size: $V_FONT_SIZE_SM;
}
.news__data {
  font-weight: bold;
}
.news__content {
  margin-left: 10px;
}
.news__item {
  margin: 15px;
  display: flex;
}

//mobile
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .news__box {
    flex-direction: column;
    align-items: unset;
  }
  .news__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    width: unset;
    font-size: $V_FONT_SIZE_SM;
  }
  .news__content {
    margin-left: 0px;
    margin-top: 10px;
  }
}
