abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
  }
}
.footer {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  font-size: 12px;
  -webkit-box-shadow: -2px -7px 20px -5px rgba(189, 189, 189, 0.2);
  box-shadow: -2px -7px 20px -5px rgba(189, 189, 189, 0.2);
}
.footer__copyright {
  background: #ffffff;
}
.footer__icon {
  margin-right: 2px;
}
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 80px;
  width: 100%;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  margin-left: 20px;
  cursor: pointer;
}
.header__logo img {
  width: 280px;
}
.header__mobile-logo {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__pc-logo {
    display: none;
  }
  .header__mobile-logo {
    display: block;
  }
  .header__logo {
    margin-left: 20px;
  }
  .header__logo a {
    width: unset;
  }
  .header__logo .header__mobile-logo {
    width: 45px;
  }
}
.florenceA .navigation__item:last-of-type {
  background: #e2c3c3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.florenceA .navigation__item:last-of-type:hover {
  background: #c98f8f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.florenceB .navigation__item:last-of-type {
  background: #99bbca;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.florenceB .navigation__item:last-of-type:hover {
  background: #6799b0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation {
  height: 100%;
}
.navigation__card {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__item:last-of-type {
  background: #a4bd99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__item:last-of-type:hover {
  background: #7b9f6b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__link {
  position: relative;
  color: #000000;
  font-family: "kefa", sans-serif;
  font-size: 18px;
  height: 100%;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation__link:last-of-type {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navigation__link:last-of-type:after {
  border-bottom: 1px solid #000000;
  content: "";
  position: absolute;
  top: 58px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0px;
}
.navigation__link:hover:after {
  width: 40px;
}
@media screen and (max-width: 768px) {
  .navigation {
    height: unset;
  }
  .navigation__button {
    display: block;
  }
  .navigation {
    height: 30px;
    margin-right: 20px;
  }
  .open .navigation {
    height: 100%;
    width: 200px;
  }
  .navigation {
    display: block;
  }
  .navigation__button-line {
    background: #000000;
    display: block;
    height: 2px;
    width: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navigation__button-line:nth-of-type(2) {
    margin-top: 10px;
  }
  .navigation__button-line:nth-of-type(3) {
    margin-top: 10px;
  }
  .open .navigation__button-line:first-of-type {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .open .navigation__button-line:nth-of-type(2) {
    opacity: 0;
  }
  .open .navigation__button-line:nth-of-type(3) {
    -webkit-transform: translateY(-13px) rotate(45deg);
    transform: translateY(-13px) rotate(45deg);
  }
  .navigation__card {
    position: fixed;
    top: 0;
    right: 0;
    background: #ffffff;
    display: block;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
  }
  .open .navigation__card {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navigation__link {
    background: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    width: 140px;
    height: 50px;
    text-align: left;
  }
  .navigation__link:last-of-type:after {
    display: none;
  }
  .navigation__item:first-of-type {
    padding-top: 60px;
  }
}
.contact {
  background-image: url(img/Florence_contact.jpg);
  background-size: cover;
  background-position: center;
  padding: 85px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact__wrap {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  height: 480px;
  padding: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.contact__lead {
  width: 580px;
  margin: 0 auto;
  margin-top: 50px;
  line-height: 1.6;
}
.contact__lead p:nth-of-type(3) {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .contact__lead {
    width: 100%;
    margin-top: 30px;
    font-size: 14px;
  }
  .contact__wrap {
    padding: 40px;
    height: unset;
  }
}
.tel {
  padding: 50px;
  text-align: center;
  position: relative;
}
.tel__title {
  font-size: 22px;
  position: relative;
  margin-bottom: 30px;
}
.tel__title:after,
.tel__title:before {
  content: "";
  position: absolute;
  top: 50%;
  width: 30px;
  height: 2px;
  background-color: black;
}
.tel__title:before {
  left: 230px;
}
.tel__title:after {
  right: 230px;
}
.tel__number {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}
.tel .material-icons {
  font-size: 32px;
  position: relative;
  top: 4px;
}
a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .tel {
    padding: 30px 0 0 0;
  }
  .tel__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .tel__title:before {
    display: none;
  }
  .tel__title:after {
    display: none;
  }
  .tel__number {
    font-size: 26px;
  }
  .tel .material-icons {
    font-size: 26px;
  }
  a[href^="tel:"] {
    pointer-events: unset;
  }
}
.information {
  padding: 70px 0;
}
.information__map {
  width: 50%;
  height: 300px;
}
.information__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.information__table {
  margin-left: 50px;
  line-height: 1.4;
  width: 50%;
}
.information__row {
  border-top: 1px solid #bdbdbd;
}
.information__row:last-of-type {
  border-bottom: 1px solid #bdbdbd;
}
.information__header {
  width: 60px;
  padding: 20px;
  vertical-align: middle;
  background: rgba(189, 189, 189, 0.3);
}
.information__data {
  padding: 20px;
  vertical-align: middle;
}
.information__blank {
  display: none;
}
@media screen and (max-width: 768px) {
  .information__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .information__map {
    width: 100%;
    height: 300px;
  }
  .information__table {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
    font-size: 14px;
  }
  .information__header {
    padding: 15px;
  }
  .information__data {
    padding: 15px;
  }
  .information__blank {
    display: block;
  }
}
.florenceA .information__table {
  width: 100%;
  margin: 50px 0 0 0;
}
.florenceA .information__room-number {
  margin-right: 15px;
  font-weight: 700;
}
.florenceA .information__room-number:nth-of-type(2) {
  margin-right: 108px;
}
.florenceA .information__annotations {
  border: 1px solid;
  padding: 15px;
  width: 605px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 14px;
}
.florenceA .information__mark {
  margin-right: 3px;
}
.florenceA .information__map {
  width: 100%;
  margin: 70px 0 30px;
}
@media screen and (max-width: 768px) {
  .florenceA .information__annotations {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: 12px;
  }
}
.florenceB .information__table {
  width: 100%;
  margin: 50px 0 0 0;
}
.florenceB .information__room-number {
  margin-right: 15px;
  font-weight: 700;
}
.florenceB .information__room-number:nth-of-type(2) {
  margin-right: 108px;
}
.florenceB .information__annotations {
  border: 1px solid;
  padding: 15px;
  width: 605px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 14px;
}
.florenceB .information__mark {
  margin-right: 3px;
}
.florenceB .information__map {
  width: 100%;
  margin: 70px 0 30px;
}
@media screen and (max-width: 768px) {
  .florenceB .information__annotations {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.4;
    font-size: 12px;
  }
}
.about {
  text-align: center;
  padding: 120px 0 70px;
}
.about__lead {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  line-height: 2;
  letter-spacing: 2px;
  font-weight: 300;
}
.about__frame {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  margin-top: 10px;
}
.about__frame-deco {
  position: absolute;
  width: 40px;
  height: 40px;
}
.about__frame-deco:first-of-type {
  top: 0;
  left: 0;
  border-top: 1px solid;
  border-left: 1px solid;
}
.about__frame-deco:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 70px 0 20px;
  }
  .about__lead {
    font-size: 14px;
    text-align: left;
  }
  .about__frame {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .about__frame-deco {
    display: none;
  }
}
.apartment {
  padding: 70px 0;
}
.apartment__lead {
  text-align: center;
  margin: 50px 0;
  letter-spacing: 2px;
}
.apartment__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.apartment__link {
  color: unset;
}
.apartment__card {
  width: 420px;
  padding: 30px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__card:hover {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__card--florenceA {
  background: #ead4d4;
  width: 420px;
  padding: 30px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__card--florenceA:hover {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__card--florenceB {
  background: #bbd1db;
  width: 420px;
  padding: 30px;
  border-radius: 7px;
  -webkit-box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__card--florenceB:hover {
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.apartment__title {
  font-family: "kefa", sans-serif;
  font-size: 26px;
  letter-spacing: 3px;
}
.apartment__text {
  padding: 20px 0;
  line-height: 1.6;
  letter-spacing: 1px;
}
.apartment__catchphrase {
  font-size: 18px;
  margin-top: 10px;
  border-bottom: 2px solid;
  line-height: 2rem;
}
.apartment__img img {
  width: 100%;
}
.apartment__blank {
  display: none;
}
@media screen and (max-width: 768px) {
  .apartment {
    padding: 50px 0;
  }
  .apartment__lead {
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
  }
  .apartment__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .apartment__card--florenceA {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .apartment__card--florenceB {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .apartment__link:nth-of-type(2) {
    margin-top: 40px;
  }
  .apartment__catchphrase {
    font-size: 16px;
    line-height: 1.4;
  }
  .apartment__text {
    font-size: 14px;
  }
  .apartment__blank {
    display: block;
  }
}
.news {
  background: whitesmoke;
  padding: 60px 0px;
}
.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news__card {
  background: #ffffff;
  -webkit-box-shadow: 0 5px 20px 0 #d9d9d9;
  box-shadow: 0 5px 20px 0 #d9d9d9;
  padding: 20px;
  width: 810px;
  font-size: 14px;
}
.news__data {
  font-weight: bold;
}
.news__content {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .news__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }
  .news__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    width: unset;
    font-size: 14px;
  }
  .news__content {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.news-title {
  border-left: 1px solid;
}
.news-title__main {
  font-family: "kefa", sans-serif;
  font-size: 35px;
  letter-spacing: 3px;
  margin-top: -5px;
  margin-left: 15px;
}
.news-title__head {
  color: #88a97a;
}
.news-title__second {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .news-title__main {
    font-size: 28px;
  }
  .news-title__second {
    font-size: 16px;
    margin-top: 5px;
  }
}
.florenceA .news-title__head {
  color: #d1a1a1;
}
.florenceB .news-title__head {
  color: #77a5b9;
}
.swiper-slide img {
  width: 100%;
}
.swiper-wrapper {
  margin-bottom: 50px;
}
.swiper-catchphrase {
  position: absolute;
  left: 40px;
  font-family: "Kiwi Maru", sans-serif;
  font-size: 32px;
  z-index: 5;
  color: #ffffff;
  background: #312626;
  padding: 10px;
}
.swiper-catchphrase__small {
  font-size: 28px;
  margin-left: 2px;
}
.swiper-catchphrase:first-of-type {
  bottom: 250px;
}
.swiper-catchphrase:nth-of-type(2) {
  bottom: 200px;
}
.swiper-catchphrase:nth-of-type(3) {
  bottom: 150px;
}
.swiper-pagination {
  position: absolute;
  bottom: 50px !important;
  left: 40px !important;
  width: unset !important;
}
.swiper-pagination-bullet {
  width: 40px;
  border-radius: 0;
  background: #ffffff;
  opacity: 0.7;
}
.swiper-pagination-bullet-active {
  width: 40px;
  border-radius: 0;
  background: #88a97a;
  opacity: 1;
}
.swiper-pagination-bullet {
  margin: 2px !important;
}
@media screen and (max-width: 768px) {
  .swiper {
    width: 100%;
  }
  .swiper img {
    width: 100%;
  }
  .swiper-catchphrase {
    left: 10px;
    font-size: 22px;
  }
  .swiper-catchphrase__small {
    font-size: 18px;
  }
  .swiper-catchphrase:first-of-type {
    bottom: 86px;
  }
  .swiper-catchphrase:nth-of-type(2) {
    bottom: 48px;
  }
  .swiper-catchphrase:nth-of-type(3) {
    bottom: 10px;
  }
  .swiper-pagination {
    bottom: -30px !important;
    left: 10px !important;
  }
  .swiper-pagination-bullet {
    background: #bdbdbd;
    opacity: 0.7;
  }
  .swiper-pagination-bullet-active {
    background: #88a97a;
    opacity: 1;
  }
}
.florenceA .swiper-slide img {
  width: 60%;
  border-radius: 0 0 0 100px;
}
.florenceA .swiper-slide {
  text-align: right;
}
.florenceA .swiper-catchphrase {
  color: #312626;
  background: unset;
}
.florenceA .swiper-pagination {
  top: 430px;
  right: 450px;
}
.florenceA .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid;
  margin: 0 8px !important;
}
.florenceA .swiper-pagination-bullet-active {
  background: #d1a1a1;
}
.florenceA .swiper-catchphrase:first-of-type {
  bottom: 280px;
}
.florenceA .swiper-catchphrase:nth-of-type(2) {
  bottom: 230px;
}
.florenceA .swiper-catchphrase:nth-of-type(3) {
  bottom: 180px;
}
.florenceA .swiper-catchphrase:last-of-type {
  bottom: 130px;
  letter-spacing: 4px;
}
.florenceA .swiper-vacancy {
  background: #e2c3c3;
  display: none;
}
@media screen and (max-width: 768px) {
  .florenceA .swiper-slide img {
    width: 80%;
  }
  .florenceA .swiper-catchphrase {
    color: #ffffff;
    background: #312626;
  }
  .florenceA .swiper-catchphrase:first-of-type {
    bottom: 145px;
  }
  .florenceA .swiper-catchphrase:nth-of-type(2) {
    bottom: 105px;
  }
  .florenceA .swiper-catchphrase:nth-of-type(3) {
    bottom: 65px;
  }
  .florenceA .swiper-catchphrase:nth-of-type(4) {
    bottom: 25px;
    letter-spacing: 4px;
  }
  .florenceA .swiper-pagination {
    top: unset;
    bottom: 10px;
    left: 0;
    right: unset;
  }
  .florenceA .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid;
    margin: 0 5px !important;
  }
}
.florenceB .swiper-slide img {
  width: 60%;
  border-radius: 0 0 0 100px;
}
.florenceB .swiper-slide {
  text-align: right;
}
.florenceB .swiper-catchphrase {
  color: #312626;
  background: unset;
}
.florenceB .swiper-pagination {
  top: 430px;
  right: 450px;
}
.florenceB .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: 1px solid;
  margin: 0 8px !important;
}
.florenceB .swiper-pagination-bullet-active {
  background: #77a5b9;
}
.florenceB .swiper-catchphrase:first-of-type {
  bottom: 280px;
}
.florenceB .swiper-catchphrase:nth-of-type(2) {
  bottom: 230px;
}
.florenceB .swiper-catchphrase:nth-of-type(3) {
  bottom: 180px;
}
.florenceB .swiper-catchphrase:last-of-type {
  bottom: 130px;
  letter-spacing: 4px;
}
.florenceB .swiper-vacancy {
  background: #99bbca;
  display: none;
}
@media screen and (max-width: 768px) {
  .florenceB .swiper-slide img {
    width: 80%;
  }
  .florenceB .swiper-catchphrase {
    color: #ffffff;
    background: #312626;
  }
  .florenceB .swiper-catchphrase:first-of-type {
    bottom: 145px;
  }
  .florenceB .swiper-catchphrase:nth-of-type(2) {
    bottom: 105px;
  }
  .florenceB .swiper-catchphrase:nth-of-type(3) {
    bottom: 65px;
  }
  .florenceB .swiper-catchphrase:nth-of-type(4) {
    bottom: 25px;
    letter-spacing: 4px;
  }
  .florenceB .swiper-pagination {
    top: unset;
    bottom: 10px;
    left: 0;
    right: unset;
  }
  .florenceB .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid;
    margin: 0 5px !important;
  }
}
.swiper-vacancy {
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  bottom: 50px;
  right: 10px;
  width: 190px;
  height: 190px;
  background: #c0d1b8;
  border-radius: 100px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-vacancy__number {
  font-size: 35px;
}
.swiper-vacancy__contact {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .swiper-vacancy {
    font-size: 16px;
    bottom: -50px;
    right: 10px;
    width: 120px;
    height: 120px;
    padding: 15px;
  }
  .swiper-vacancy__number {
    font-size: 26px;
  }
  .swiper-vacancy__contact {
    font-size: 12px;
    margin-top: 10px;
  }
  .swiper-vacancy__contact--mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .menu__background {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 20;
    visibility: hidden;
  }
  .open.menu__background {
    opacity: 1;
    visibility: visible;
  }
}
.gallery-header__header {
  background-image: url(../img/FlorenceA_gallery-header.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 150px;
  margin-left: auto;
  border-radius: 0 0 0 50px;
  position: relative;
}
.gallery-header .title {
  position: absolute;
  top: 50px;
  left: -100px;
}
.gallery-header__lead {
  line-height: 1.8;
  padding: 100px 0 20px 0;
}
@media screen and (max-width: 768px) {
  .gallery-header .title {
    position: absolute;
    top: 50px;
    left: -20%;
  }
  .gallery-header__header {
    background-position: right;
  }
  .gallery-header__lead {
    font-size: 14px;
    padding: 40px 0;
  }
}
.gallery {
  background: #ffffff;
  padding-top: 70px;
}
.gallery__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 70px 0 40px 0;
}
.gallery__button {
  color: #312626;
  background: #ffffff;
  border: 1px solid #312626;
  padding: 20px;
  border-radius: 50px;
  width: 220px;
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__button:hover {
  color: #ffffff;
  background: #312626;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__tab {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px;
}
.gallery__item {
  font-weight: 700;
  margin: 0 20px;
  position: relative;
}
.gallery__item a:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid;
  top: 35px;
  left: 50%;
  width: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__item a:hover:after {
  width: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.gallery__item a {
  color: #000000;
}
@media screen and (max-width: 768px) {
  .gallery {
    padding-top: 30px;
  }
  .gallery__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 70px 0 20px 0;
  }
  .gallery img {
    width: 100%;
  }
  .gallery__button {
    font-size: 14px;
  }
  .gallery__tab {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .gallery__item {
    position: unset;
    font-size: 14px;
    margin: 0 12px 10px 0;
    border: 1px solid;
    padding: 8px;
    border-radius: 20px;
  }
  .gallery__item a:hover:after {
    width: 0px;
  }
}
.gallery-image {
  width: 100%;
}
.gallery-image__box--upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.gallery-image__box--below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.gallery-image__interior {
  margin: 0 0 20px 25px;
}
@media screen and (max-width: 768px) {
  .gallery-image__box--upper .gallery-image__interior:first-of-type {
    margin: 20px 0 20px 0;
  }
  .gallery-image__box--upper .gallery-image__interior:nth-of-type(2) {
    margin: 20px 0 20px 20px;
  }
  .gallery-image__box--below .gallery-image__interior:first-of-type {
    margin: 0 0 20px 0;
  }
  .gallery-image__box--below .gallery-image__interior:nth-of-type(2) {
    margin: 0 0 20px 20px;
  }
}
.feature {
  padding: 50px 0 70px;
}
.feature__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.feature__card {
  width: 280px;
  padding-top: 70px;
  margin: 0 25px;
}
.feature__image {
  background-size: cover;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  border: 1px solid;
  margin-top: -80px;
}
.feature__image.exterior {
  background-image: url(../img/FlorenceA_Faeture_Exterior.jpg);
}
.feature__image.security {
  background-image: url(../img/FlorenceA_Faeture_Security.jpg);
}
.feature__image.kitcken {
  background-image: url(../img/FlorenceA_Faeture_Kitcken.jpg);
}
.feature__image.wash {
  background-image: url(../img/FlorenceA_Faeture_Wash.jpg);
}
.feature__image.storage {
  background-image: url(../img/FlorenceA_Faeture_Storage.jpg);
}
.feature__title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}
.feature__text {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .feature__card {
    width: 230px;
  }
  .feature__image {
    width: 230px;
    height: 230px;
  }
  .feature__title {
    font-size: 16px;
  }
  .feature__text {
    font-size: 14px;
  }
}
.feature__image.exterior {
  background-image: url(../img/FlorenceB_Faeture_Exterior.jpg);
}
.feature__image.security {
  background-image: url(../img/FlorenceB_Faeture_Security.jpg);
}
.feature__image.kitcken {
  background-image: url(../img/FlorenceB_Faeture_glass.jpg);
}
.feature__image.wash {
  background-image: url(../img/FlorenceB_Faeture_Storage.jpg);
}
.feature__image.storage {
  background-image: url(../img/FlorenceB_Faeture_Bath.jpg);
}
.feature-icon {
  background-image: url(../img/Florence_point-icon.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  width: 90px;
  height: 90px;
  color: #312626;
  position: relative;
  z-index: 10;
}
.feature-icon__point {
  font-size: 18px;
}
.feature-icon__number {
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .feature-icon {
    width: 80px;
    height: 80px;
  }
  .feature-icon__number {
    font-size: 22px;
  }
}
.gallery-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.gallery-title__main {
  font-size: 50px;
  font-family: "kefa", sans-serif;
  color: #e2c3c3;
}
.gallery-title__sub {
  font-size: 16px;
  margin-left: 15px;
}
.florenceB .gallery-title__main {
  color: #99bbca;
}
@media screen and (max-width: 768px) {
  .gallery-title__main {
    font-size: 40px;
  }
  .gallery-title__sub {
    font-size: 14px;
  }
}
.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
}
.room__card {
  margin: 20px 60px 0 0;
}
.room__title {
  margin: 0 10px 10px;
  font-size: 22px;
  color: #000000;
}
.room__image {
  margin-right: 30px;
  margin-bottom: 30px;
}
.room__image img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
#floor-plan .room__image {
  margin-right: 50px;
}
#floor-plan .room__image img {
  height: unset;
  width: 300px;
}
.room__back {
  background: #f0f0f0;
}
.room__back:nth-of-type(odd) {
  margin-top: 150px;
  background: #ffffff;
}
.room__back:nth-of-type(2n) {
  margin-top: 100px;
  padding-bottom: 10px;
}
.room__contents {
  position: relative;
  top: -28px;
}
#bath-toilet .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#bath-toilet .room__contents:nth-of-type(2) {
  margin-left: 151px;
}
@media screen and (max-width: 768px) {
  .room__image img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  #bath-toilet .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #bath-toilet .room__contents:nth-of-type(2) {
    margin-left: 0;
  }
  .room {
    margin-top: 20px;
  }
  .room__back:nth-of-type(2n) {
    margin-top: 50px;
  }
  #floor-plan .room__image {
    margin-right: 20px;
  }
  #floor-plan .room__image:last-of-type {
    margin-right: 0px;
  }
  #floor-plan .room__image img {
    width: 100%;
  }
  #floor-plan .room {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .room__title {
    margin: 0px 20px 20px 0;
    font-size: 16px;
  }
  .room__back:nth-of-type(odd) {
    margin-top: 80px;
  }
  .room__image {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .room__contents {
    top: -22px;
  }
}
.title {
  font-family: "kefa", sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
}
.title__main {
  font-size: 35px;
}
.title__main--head {
  color: #88a97a;
}
.title__sub {
  font-family: "Kiwi Maru", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .title__main {
    font-size: 28px;
  }
  .title__sub {
    font-size: 12px;
  }
}
.florenceA .title__main--head {
  color: #d1a1a1;
}
.florenceB .title__main--head {
  color: #77a5b9;
}
