body {
  font-family: $V_FONT-FAMILY_MAIN;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

//mobile
@media screen and (max-width: $V_MEDIA_SCREN_WIDTH) {
  .inner {
    padding: 0 15px;
    width: 100%;
  }
}
