$V_COLOR_WHITE0: #ffffff;
$V_COLOR_GRAY0: #bdbdbd;
$V_COLOR_GRAY1: #00000026;
$V_COLOR_GRAY2: #00000090;
$V_COLOR_GRAY3: #d9d9d9;
$V_COLOR_BLACK: #000000;
$V_COLOR_BROWN: #312626;

//Florence
$V_COLOR_GREEN_MAIN: #a4bd99;

//FlorenceA
$V_COLOR_PINK_MAIN: #e2c3c3;

//FlorenceB
$V_COLOR_BLUE_MAIN: #99bbca;
