//font-family
$V_FONT-FAMILY_MAIN: "Noto Sans JP", sans-serif;
$V_FONT-FAMILY_GOTHIC0: "Roboto", sans-serif;
$V_FONT-FAMILY_GOTHIC1: "Kiwi Maru", sans-serif;
$V_FONT-FAMILY_SERIF0: "kefa", sans-serif;
$V_FONT-FAMILY_GOTHIC2: "Dosis", sans-serif;

//font-size
$V_FONT_SIZE_XS: 12px;
$V_FONT_SIZE_SM: 14px;
$V_FONT_SIZE_NORMAL: 16px;
$V_FONT_SIZE_LG: 18px;
$V_FONT_SIZE_XL: 22px;
$V_FONT_SIZE_2XL: 26px;
$V_FONT_SIZE_3XL: 28px;
$V_FONT_SIZE_4XL: 32px;
$V_FONT_SIZE_5XL: 35px;
$V_FONT_SIZE_6XL: 40px;
$V_FONT_SIZE_7XL: 50px;

//font-weight
$V_FONT_WEIGHT_THIN: 100;
$V_FONT_WEIGHT_LIGHT: 300;
$V_FONT_WEIGHT_NORMAL: 500;
$V_FONT_WEIGHT_BOLD: 700;
$V_FONT_WEIGHT_BLACK: 900;
